In [1]:
from __future__ import division
import pandas as pd
import numpy as np
from pyrthenope import *
import pickle

from multiprocessing import cpu_count
import concurrent.futures

print(f'pandas version: {pd.__version__}')
print(f'numpy version: {np.__version__}')

pandas version: 1.3.1
numpy version: 1.21.1

In [2]:
np.finfo(float).eps

2.220446049250313e-16

In [3]:
# Some input values (i.e. DNNU) modify a diffrent output parameter (N_nu)
parth_inout_map = {
    'DNNU': 'N_nu',
    'ETA10': 'eta10',
    'TAU': 'tau'
}

# !!! will need to update card_mod if you change obs
# k, v of intrested obs: expermental errors 
observables = {
    'H2/H': 0.04 * 10**(-5),            # https://arxiv.org/pdf/1412.1408.pdf 1.2
    'Y_p': 0.0097,                      # https://arxiv.org/pdf/1412.1408.pdf 1.3 need to look more into plank 2018
    'Li7/H' : 0.3 * 10**(-10),           # https://arxiv.org/pdf/1412.1408.pdf 1.4
    'tau' : 0.6
}

# See https://arxiv.org/pdf/0705.0290.pdf Table I
# Modifcations to the base card to always be considered
card_mod = {
    'OUTPUT': 'F  4  3 4 6 8'
}

# params to vary over and step size, uses parth's card syntax
parameters = {
    'DNNU': 0.1, 
    'ETA10': 0.1,
    'TAU': 1.0
}

# cleans up output
obs_and_params = list(observables.keys()) + [parth_inout_map.get(k, k) for k in parameters.keys()]

# otherwise we will just find fisher
use_dali = True

save = True
save_file = 'dali_bbn.pkl'

# these are to match lesnpower output so we can just use the cobaya dali program
lo_spec_id = 'unlensed'
lo_experment = 0

In [4]:
def dp(val):
    display(val)

def _run(param, mod):
    nope = Pyrthenope(card_mod=mod)
    for (k, v) in param:
        nope.card[k] = nope.card[k] + v
    return nope.run()    

def runner(obs, params, cardMods=None, doDali=True, numThreads=cpu_count()):
    # This generates all of our runs, these will run automagically and will only halt when a corresponding .result() is called
    processes = np.empty((2**doDali, len(params), len(params), 2**(1+doDali)), dtype=object)
    with concurrent.futures.ThreadPoolExecutor(max_workers=numThreads) as exec:
        for i, (param1, step1) in enumerate(params.items()):
            processes[0, i, 0, 0] = exec.submit(_run, [(param1, -step1/2)], cardMods)
            processes[0, i, 0, 1] = exec.submit(_run, [(param1,  step1/2)], cardMods)
            if doDali:
                for j, (param2, step2) in enumerate(params.items()):
                    processes[1, i, j, 0] = exec.submit(_run, [(param1, -step1/2), (param2, -step2/2)], cardMods)
                    processes[1, i, j, 1] = exec.submit(_run, [(param1,  step1/2), (param2, -step2/2)], cardMods)
                    processes[1, i, j, 2] = exec.submit(_run, [(param1, -step1/2), (param2,  step2/2)], cardMods)
                    processes[1, i, j, 3] = exec.submit(_run, [(param1,  step1/2), (param2,  step2/2)], cardMods)

    # derivative vectors
    d1Vec = pd.DataFrame()
    d2Vec = pd.DataFrame()

    #calculate the derivatives
    for i, (param1, step1) in enumerate(params.items()):
        v01 = processes[0, i, 0, 0].result()
        v02 = processes[0, i, 0, 1].result()
        
        d1 = pd.DataFrame((v02[obs] - v01[obs]) / step1).rename(index={0:param1})    
        d1Vec = pd.concat([d1Vec, d1])

        dp(f'{param1}+{step1}')
        dp(pd.concat([v01, v02.rename(index={0:1})]))

        if doDali:
            for j, (param2, step2) in enumerate(params.items()):
                v11 = processes[1, i, j, 0].result()
                v12 = processes[1, i, j, 1].result()
                v13 = processes[1, i, j, 2].result()
                v14 = processes[1, i, j, 3].result()

                d11 = (v12[obs] - v11[obs]) / step1
                d12 = (v14[obs] - v13[obs]) / step1
                d2 = pd.DataFrame((d12 - d11) / step2).rename(index={0:(param1, param2)})
                d2Vec = pd.concat([d2Vec, d2])

                dp(f'{param1}+{step1}, {param2}+{step2}')
                dp(pd.concat([v11, v12.rename(index={0:1}), v13.rename(index={0:2}), v14.rename(index={0:3})]))

    # Finds the (gaussian) 1/sigma^2 errors
    errors = np.array([list(obs.values())])
    isigma2 = pd.DataFrame(
        np.linalg.inv(errors.T * np.identity(len(list(obs))) * errors), 
        index=[list(obs.keys())], columns=[list(obs.keys())])

    dp('First Derivatives')
    dp(d1Vec)
    dp('Second Derivatives')
    dp(d2Vec)
    dp('Inverse Sigma**2')
    dp(isigma2)

    # calculate fisher, dali3 and dali4
    # https://arxiv.org/pdf/1401.6892.pdf 15
    fisher = np.einsum('ia,ab,jb', d1Vec, isigma2, d1Vec)
    if doDali:
        # generate tensors so we can use these in np.einsum
        d2Ten = d2Vec.values.reshape(len(params), len(params), len(obs))

        dali3 = np.einsum('ija,ab,kb', d2Ten, isigma2, d1Vec)
        dali4 = np.einsum('ija,ab,klb', d2Ten, isigma2, d2Ten)

        return fisher, dali3, dali4

    return fisher, None, None

In [5]:
baseData = _run([], card_mod)
dp(baseData)

,N_nu,xie,xix,tau,rholmbd,eta10,OmegaBh^2,phie,thetah,tnuh,nbh,N/H,Y_H,H2/H,H3/H,He3/H,Y_p,Li6/H,Li7/H,Be7/H
0,3.0,0.0,0.0,879.4,0.0,6.13832,0.02242,39.4153,8.685500e-26,0.714958,5.096670e-16,9.169530e-10,0.754432,0.000025,8.064730e-08,0.00001,0.246878,1.090290e-14,4.687700e-10,4.416040e-10

In [6]:
fisher, dali3, dali4 = runner(observables, parameters, card_mod, doDali=use_dali)
dp(f'fisher {fisher}')
dp(f'dali3 {dali3}')
dp(f'dali4 {dali4}')

if save:
    fid_values = {
        'N_nu': baseData['N_nu'].values[0], #3.0,
        # 'omega_b_h2': baseData['OmegaBh^2'].values[0], #0.02242 # check that this corresponds to our fid eta10 6.13332, is this needed?
        'eta10': baseData['eta10'].values[0],
        'tau': baseData['tau'].values[0]
    }
    saveData = {'cosmoFid': fid_values, 'fisherGaussian': {lo_experment: {lo_spec_id: fisher}}}
    if use_dali:
        saveData['DALI3Gaussian'] =  {lo_experment: {lo_spec_id: dali3}}
        saveData['DALI4Gaussian'] =  {lo_experment: {lo_spec_id: dali4}}

    with open(save_file, 'wb') as file:
        pickle.dump(saveData, file, protocol=pickle.HIGHEST_PROTOCOL)

'DNNU+0.1'

,N_nu,xie,xix,tau,rholmbd,eta10,OmegaBh^2,phie,thetah,tnuh,nbh,N/H,Y_H,H2/H,H3/H,He3/H,Y_p,Li6/H,Li7/H,Be7/H
0,2.95,0.0,0.0,879.4,0.0,6.13832,0.02242,39.4157,8.656080e-26,0.714958,5.096640e-16,9.047470e-10,0.755107,0.000025,8.006500e-08,0.00001,0.246205,1.079040e-14,4.709550e-10,4.440380e-10
1,3.05,0.0,0.0,879.4,0.0,6.13832,0.02242,39.4149,8.714810e-26,0.714958,5.096640e-16,9.292040e-10,0.753768,0.000025,8.122750e-08,0.00001,0.247548,1.101510e-14,4.665920e-10,4.391770e-10

'DNNU+0.1, DNNU+0.1'

,N_nu,xie,xix,tau,rholmbd,eta10,OmegaBh^2,phie,thetah,tnuh,nbh,N/H,Y_H,H2/H,H3/H,He3/H,Y_p,Li6/H,Li7/H,Be7/H
0,2.9,0.0,0.0,879.4,0.0,6.13832,0.02242,39.4161,8.626560e-26,0.714958,5.096700e-16,8.926460e-10,0.755785,0.000025,7.948450e-08,0.00001,0.245522,1.067850e-14,4.731470e-10,4.464780e-10
1,3.0,0.0,0.0,879.4,0.0,6.13832,0.02242,39.4153,8.685500e-26,0.714958,5.096670e-16,9.169530e-10,0.754432,0.000025,8.064730e-08,0.00001,0.246878,1.090290e-14,4.687700e-10,4.416040e-10
2,3.0,0.0,0.0,879.4,0.0,6.13832,0.02242,39.4153,8.685500e-26,0.714958,5.096670e-16,9.169530e-10,0.754432,0.000025,8.064730e-08,0.00001,0.246878,1.090290e-14,4.687700e-10,4.416040e-10
3,3.1,0.0,0.0,879.4,0.0,6.13832,0.02242,39.4146,8.744030e-26,0.714958,5.096710e-16,9.415540e-10,0.753103,0.000025,8.180920e-08,0.00001,0.248211,1.112800e-14,4.644300e-10,4.367660e-10

'DNNU+0.1, ETA10+0.1'

,N_nu,xie,xix,tau,rholmbd,eta10,OmegaBh^2,phie,thetah,tnuh,nbh,N/H,Y_H,H2/H,H3/H,He3/H,Y_p,Li6/H,Li7/H,Be7/H
0,2.95,0.0,0.0,879.4,0.0,6.08832,0.02224,39.4075,8.656080e-26,0.714958,5.055150e-16,9.245200e-10,0.755181,0.000025,8.118990e-08,0.00001,0.246117,1.093160e-14,4.629430e-10,4.357610e-10
1,3.05,0.0,0.0,879.4,0.0,6.08832,0.02224,39.4068,8.714810e-26,0.714958,5.055140e-16,9.493400e-10,0.753845,0.000026,8.235990e-08,0.00001,0.247466,1.115790e-14,4.586660e-10,4.309850e-10
2,2.95,0.0,0.0,879.4,0.0,6.18832,0.02260,39.4237,8.656080e-26,0.714958,5.138190e-16,8.857440e-10,0.755024,0.000025,7.897650e-08,0.00001,0.246280,1.065430e-14,4.789360e-10,4.522760e-10
3,3.05,0.0,0.0,879.4,0.0,6.18832,0.02260,39.4230,8.714820e-26,0.714958,5.138180e-16,9.096290e-10,0.753686,0.000025,8.011960e-08,0.00001,0.247628,1.087560e-14,4.745640e-10,4.474110e-10

'DNNU+0.1, TAU+1.0'

,N_nu,xie,xix,tau,rholmbd,eta10,OmegaBh^2,phie,thetah,tnuh,nbh,N/H,Y_H,H2/H,H3/H,He3/H,Y_p,Li6/H,Li7/H,Be7/H
0,2.95,0.0,0.0,878.9,0.0,6.13832,0.02242,39.4157,8.656080e-26,0.714958,5.096660e-16,9.040560e-10,0.755208,0.000025,8.004560e-08,0.00001,0.246098,1.078240e-14,4.708180e-10,4.439220e-10
1,3.05,0.0,0.0,878.9,0.0,6.13832,0.02242,39.4150,8.714810e-26,0.714958,5.096630e-16,9.285340e-10,0.753870,0.000025,8.121020e-08,0.00001,0.247435,1.100720e-14,4.664420e-10,4.390470e-10
2,2.95,0.0,0.0,879.9,0.0,6.13832,0.02242,39.4156,8.656080e-26,0.714958,5.096680e-16,9.055500e-10,0.754999,0.000025,8.009080e-08,0.00001,0.246307,1.079970e-14,4.710660e-10,4.441250e-10
3,3.05,0.0,0.0,879.9,0.0,6.13832,0.02242,39.4149,8.714810e-26,0.714958,5.096630e-16,9.298930e-10,0.753662,0.000025,8.124630e-08,0.00001,0.247661,1.102340e-14,4.667450e-10,4.393090e-10

'ETA10+0.1'

,N_nu,xie,xix,tau,rholmbd,eta10,OmegaBh^2,phie,thetah,tnuh,nbh,N/H,Y_H,H2/H,H3/H,He3/H,Y_p,Li6/H,Li7/H,Be7/H
0,3.0,0.0,0.0,879.4,0.0,6.08832,0.02224,39.4072,8.685500e-26,0.714958,5.055110e-16,9.368300e-10,0.754509,0.000025,8.177140e-08,0.00001,0.246803,1.104420e-14,4.608260e-10,4.333960e-10
1,3.0,0.0,0.0,879.4,0.0,6.18832,0.02260,39.4233,8.685500e-26,0.714958,5.138170e-16,8.977520e-10,0.754355,0.000025,7.955390e-08,0.00001,0.246943,1.076550e-14,4.766960e-10,4.497880e-10

'ETA10+0.1, DNNU+0.1'

,N_nu,xie,xix,tau,rholmbd,eta10,OmegaBh^2,phie,thetah,tnuh,nbh,N/H,Y_H,H2/H,H3/H,He3/H,Y_p,Li6/H,Li7/H,Be7/H
0,2.95,0.0,0.0,879.4,0.0,6.08832,0.02224,39.4075,8.656080e-26,0.714958,5.055150e-16,9.245200e-10,0.755181,0.000025,8.118990e-08,0.00001,0.246117,1.093160e-14,4.629430e-10,4.357610e-10
1,2.95,0.0,0.0,879.4,0.0,6.18832,0.02260,39.4237,8.656080e-26,0.714958,5.138190e-16,8.857440e-10,0.755024,0.000025,7.897650e-08,0.00001,0.246280,1.065430e-14,4.789360e-10,4.522760e-10
2,3.05,0.0,0.0,879.4,0.0,6.08832,0.02224,39.4068,8.714810e-26,0.714958,5.055140e-16,9.493400e-10,0.753845,0.000026,8.235990e-08,0.00001,0.247466,1.115790e-14,4.586660e-10,4.309850e-10
3,3.05,0.0,0.0,879.4,0.0,6.18832,0.02260,39.4230,8.714820e-26,0.714958,5.138180e-16,9.096290e-10,0.753686,0.000025,8.011960e-08,0.00001,0.247628,1.087560e-14,4.745640e-10,4.474110e-10

'ETA10+0.1, ETA10+0.1'

,N_nu,xie,xix,tau,rholmbd,eta10,OmegaBh^2,phie,thetah,tnuh,nbh,N/H,Y_H,H2/H,H3/H,He3/H,Y_p,Li6/H,Li7/H,Be7/H
0,3.0,0.0,0.0,879.4,0.0,6.03832,0.02206,39.3990,8.685500e-26,0.714958,5.013640e-16,9.572220e-10,0.754586,0.000026,8.291700e-08,0.00001,0.246725,1.118810e-14,4.529390e-10,4.252420e-10
1,3.0,0.0,0.0,879.4,0.0,6.13832,0.02242,39.4153,8.685500e-26,0.714958,5.096670e-16,9.169530e-10,0.754432,0.000025,8.064730e-08,0.00001,0.246878,1.090290e-14,4.687700e-10,4.416040e-10
2,3.0,0.0,0.0,879.4,0.0,6.13832,0.02242,39.4153,8.685500e-26,0.714958,5.096670e-16,9.169530e-10,0.754432,0.000025,8.064730e-08,0.00001,0.246878,1.090290e-14,4.687700e-10,4.416040e-10
3,3.0,0.0,0.0,879.4,0.0,6.23832,0.02279,39.4314,8.685500e-26,0.714958,5.179670e-16,8.787240e-10,0.754275,0.000024,7.846310e-08,0.00001,0.247046,1.062840e-14,4.848120e-10,4.581640e-10

'ETA10+0.1, TAU+1.0'

,N_nu,xie,xix,tau,rholmbd,eta10,OmegaBh^2,phie,thetah,tnuh,nbh,N/H,Y_H,H2/H,H3/H,He3/H,Y_p,Li6/H,Li7/H,Be7/H
0,3.0,0.0,0.0,878.9,0.0,6.08832,0.02224,39.4072,8.685500e-26,0.714958,5.055140e-16,9.360720e-10,0.754613,0.000025,8.174930e-08,0.00001,0.246695,1.103550e-14,4.607030e-10,4.332940e-10
1,3.0,0.0,0.0,878.9,0.0,6.18832,0.02260,39.4234,8.685500e-26,0.714958,5.138170e-16,8.969600e-10,0.754455,0.000025,7.952830e-08,0.00001,0.246851,1.075670e-14,4.766040e-10,4.497180e-10
2,3.0,0.0,0.0,879.9,0.0,6.08832,0.02224,39.4071,8.685500e-26,0.714958,5.055120e-16,9.375860e-10,0.754407,0.000025,8.179380e-08,0.00001,0.246904,1.105280e-14,4.609480e-10,4.334960e-10
3,3.0,0.0,0.0,879.9,0.0,6.18832,0.02260,39.4233,8.685500e-26,0.714958,5.138140e-16,8.984220e-10,0.754250,0.000025,7.957230e-08,0.00001,0.247057,1.077360e-14,4.768500e-10,4.499210e-10

'TAU+1.0'

,N_nu,xie,xix,tau,rholmbd,eta10,OmegaBh^2,phie,thetah,tnuh,nbh,N/H,Y_H,H2/H,H3/H,He3/H,Y_p,Li6/H,Li7/H,Be7/H
0,3.0,0.0,0.0,878.9,0.0,6.13832,0.02242,39.4153,8.685500e-26,0.714958,5.096640e-16,9.162510e-10,0.754534,0.000025,8.062780e-08,0.00001,0.246770,1.089480e-14,4.686340e-10,4.414880e-10
1,3.0,0.0,0.0,879.9,0.0,6.13832,0.02242,39.4152,8.685500e-26,0.714958,5.096610e-16,9.177660e-10,0.754328,0.000025,8.067340e-08,0.00001,0.246979,1.091200e-14,4.688690e-10,4.416800e-10

'TAU+1.0, DNNU+0.1'

,N_nu,xie,xix,tau,rholmbd,eta10,OmegaBh^2,phie,thetah,tnuh,nbh,N/H,Y_H,H2/H,H3/H,He3/H,Y_p,Li6/H,Li7/H,Be7/H
0,2.95,0.0,0.0,878.9,0.0,6.13832,0.02242,39.4157,8.656080e-26,0.714958,5.096660e-16,9.040560e-10,0.755208,0.000025,8.004560e-08,0.00001,0.246098,1.078240e-14,4.708180e-10,4.439220e-10
1,2.95,0.0,0.0,879.9,0.0,6.13832,0.02242,39.4156,8.656080e-26,0.714958,5.096680e-16,9.055500e-10,0.754999,0.000025,8.009080e-08,0.00001,0.246307,1.079970e-14,4.710660e-10,4.441250e-10
2,3.05,0.0,0.0,878.9,0.0,6.13832,0.02242,39.4150,8.714810e-26,0.714958,5.096630e-16,9.285340e-10,0.753870,0.000025,8.121020e-08,0.00001,0.247435,1.100720e-14,4.664420e-10,4.390470e-10
3,3.05,0.0,0.0,879.9,0.0,6.13832,0.02242,39.4149,8.714810e-26,0.714958,5.096630e-16,9.298930e-10,0.753662,0.000025,8.124630e-08,0.00001,0.247661,1.102340e-14,4.667450e-10,4.393090e-10

'TAU+1.0, ETA10+0.1'

,N_nu,xie,xix,tau,rholmbd,eta10,OmegaBh^2,phie,thetah,tnuh,nbh,N/H,Y_H,H2/H,H3/H,He3/H,Y_p,Li6/H,Li7/H,Be7/H
0,3.0,0.0,0.0,878.9,0.0,6.08832,0.02224,39.4072,8.685500e-26,0.714958,5.055140e-16,9.360720e-10,0.754613,0.000025,8.174930e-08,0.00001,0.246695,1.103550e-14,4.607030e-10,4.332940e-10
1,3.0,0.0,0.0,879.9,0.0,6.08832,0.02224,39.4071,8.685500e-26,0.714958,5.055120e-16,9.375860e-10,0.754407,0.000025,8.179380e-08,0.00001,0.246904,1.105280e-14,4.609480e-10,4.334960e-10
2,3.0,0.0,0.0,878.9,0.0,6.18832,0.02260,39.4234,8.685500e-26,0.714958,5.138170e-16,8.969600e-10,0.754455,0.000025,7.952830e-08,0.00001,0.246851,1.075670e-14,4.766040e-10,4.497180e-10
3,3.0,0.0,0.0,879.9,0.0,6.18832,0.02260,39.4233,8.685500e-26,0.714958,5.138140e-16,8.984220e-10,0.754250,0.000025,7.957230e-08,0.00001,0.247057,1.077360e-14,4.768500e-10,4.499210e-10

'TAU+1.0, TAU+1.0'

,N_nu,xie,xix,tau,rholmbd,eta10,OmegaBh^2,phie,thetah,tnuh,nbh,N/H,Y_H,H2/H,H3/H,He3/H,Y_p,Li6/H,Li7/H,Be7/H
0,3.0,0.0,0.0,878.4,0.0,6.13832,0.02242,39.4154,8.685500e-26,0.714958,5.096620e-16,9.154760e-10,0.754644,0.000025,8.060420e-08,0.00001,0.246660,1.088570e-14,4.685080e-10,4.413850e-10
1,3.0,0.0,0.0,879.4,0.0,6.13832,0.02242,39.4153,8.685500e-26,0.714958,5.096670e-16,9.169530e-10,0.754432,0.000025,8.064730e-08,0.00001,0.246878,1.090290e-14,4.687700e-10,4.416040e-10
2,3.0,0.0,0.0,879.4,0.0,6.13832,0.02242,39.4153,8.685500e-26,0.714958,5.096670e-16,9.169530e-10,0.754432,0.000025,8.064730e-08,0.00001,0.246878,1.090290e-14,4.687700e-10,4.416040e-10
3,3.0,0.0,0.0,880.4,0.0,6.13832,0.02242,39.4152,8.685500e-26,0.714958,5.096660e-16,9.184210e-10,0.754227,0.000025,8.069010e-08,0.00001,0.247089,1.091980e-14,4.690220e-10,4.418120e-10

'First Derivatives'

               H2/H       Y_p         Li7/H  tau
DNNU   3.402000e-06  0.013430 -4.363000e-11  0.0
ETA10 -6.671000e-06  0.001400  1.587000e-10  0.0
TAU    1.210000e-08  0.000209  2.350000e-13  1.0

'Second Derivatives'

                        H2/H       Y_p         Li7/H  tau
(DNNU, DNNU)   -7.000000e-08 -0.002300  3.700000e-12  0.0
(DNNU, ETA10)  -7.600000e-07 -0.000100 -9.500000e-12  0.0
(DNNU, TAU)    -2.900000e-08  0.000170  5.500000e-13  0.0
(ETA10, DNNU)  -7.600000e-07 -0.000100 -9.500000e-12  0.0
(ETA10, ETA10)  2.530000e-06  0.001500  2.110000e-11  0.0
(ETA10, TAU)   -1.000000e-09 -0.000030  1.000000e-14  0.0
(TAU, DNNU)    -2.900000e-08  0.000170  5.500000e-13  0.0
(TAU, ETA10)   -1.000000e-09 -0.000030  1.000000e-14  0.0
(TAU, TAU)     -2.000000e-10 -0.000007 -1.000000e-14  0.0

'Inverse Sigma**2'

               H2/H           Y_p         Li7/H       tau
H2/H   6.250000e+12      0.000000  0.000000e+00  0.000000
Y_p    0.000000e+00  10628.122011  0.000000e+00  0.000000
Li7/H  0.000000e+00      0.000000  1.111111e+21  0.000000
tau    0.000000e+00      0.000000  0.000000e+00  2.777778

'fisher [[ 7.63670506e+01 -1.49335731e+02  2.75715729e-01]\n [-1.49335731e+02  3.06143937e+02 -4.59946253e-01]\n [ 2.75715729e-01 -4.59946253e-01  2.77921845e+00]]'

'dali3 [[[-1.99603484e+00  3.53677328e+00 -9.43657714e-03]\n  [-1.57132347e+01  3.00105954e+01 -6.01776833e-02]\n  [-6.19010212e-01  1.30863158e+00 -1.67189671e-03]]\n\n [[-1.57132347e+01  3.00105954e+01 -6.01776833e-02]\n  [ 5.29853474e+01 -1.01742235e+02  2.00172611e-01]\n  [-2.60293481e-02  4.30107022e-02 -1.39652214e-04]]\n\n [[-6.19010212e-01  1.30863158e+00 -1.67189671e-03]\n  [-2.60293481e-02  4.30107022e-02 -1.39652214e-04]\n  [-4.76687197e-03  6.47126107e-03 -3.32850536e-05]]]'

'dali4 [[[[ 1.02058877e-01  2.95888913e-01  1.07930154e-02]\n   [ 2.95888913e-01 -1.05679758e+00  1.21195153e-03]\n   [ 1.07930154e-02  1.21195153e-03  2.17501653e-04]]\n\n  [[ 2.95888913e-01  3.71038406e+00  1.31763766e-01]\n   [ 3.71038406e+00 -1.22418164e+01  4.67632881e-03]\n   [ 1.31763766e-01  4.67632881e-03  1.06299524e-03]]\n\n  [[ 1.07930154e-02  1.31763766e-01  5.89951384e-03]\n   [ 1.31763766e-01 -4.42957884e-01  1.33157689e-04]\n   [ 5.89951384e-03  1.33157689e-04  1.74914237e-05]]]\n\n\n [[[ 2.95888913e-01  3.71038406e+00  1.31763766e-01]\n   [ 3.71038406e+00 -1.22418164e+01  4.67632881e-03]\n   [ 1.31763766e-01  4.67632881e-03  1.06299524e-03]]\n\n  [[-1.05679758e+00 -1.22418164e+01 -4.42957884e-01]\n   [-1.22418164e+01  4.05242161e+01 -1.60563210e-02]\n   [-4.42957884e-01 -1.60563210e-02 -3.50853973e-03]]\n\n  [[ 1.21195153e-03  4.67632881e-03  1.33157689e-04]\n   [ 4.67632881e-03 -1.60563210e-02  1.59264209e-05]\n   [ 1.33157689e-04  1.59264209e-05  3.37079451e-06]]]\n\n\n [[[ 1.07930154e-02  1.31763766e-01  5.89951384e-03]\n   [ 1.31763766e-01 -4.42957884e-01  1.33157689e-04]\n   [ 5.89951384e-03  1.33157689e-04  1.74914237e-05]]\n\n  [[ 1.21195153e-03  4.67632881e-03  1.33157689e-04]\n   [ 4.67632881e-03 -1.60563210e-02  1.59264209e-05]\n   [ 1.33157689e-04  1.59264209e-05  3.37079451e-06]]\n\n  [[ 2.17501653e-04  1.06299524e-03  1.74914237e-05]\n   [ 1.06299524e-03 -3.50853973e-03  3.37079451e-06]\n   [ 1.74914237e-05  3.37079451e-06  8.81889090e-07]]]]'